body{
    background-color: rgb(78, 78, 78);
    margin: 50px;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
header{
    background-color: black;
}

nav li:hover{
    background-color: gray;
}

main{
    background-color: white;
    margin: 0px;
    padding: 10px 100px;

}
nav li{
    padding: 20px;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0px;
}
nav a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
nav a:hover{
    color: rgb(0, 0, 0);
}

#s1{
    margin-top: 50px;
    background-image: url('../images/flork.jpg'),url('../images/gato.jpg'),url('../images/flork.jpg'),url('../images/gato.jpg');
    background-position: top left,top right,bottom right,bottom left;
    background-size: 100px;
    background-repeat: no-repeat;
    padding: 75px;
    box-shadow: 3px 3px 10px;
}